/*
 * Основные стили для веб-страницы "Профессиональная техника для обжарщиков" -
 * для практики адаптивного дизайна.
 */

/*
 * Основа
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Helvetica,Arial,sans-serif;
}

/*
 * Ссылки
 */
a:link {
  color: #1476b8;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #1430b8;
}
a:hover {
  color: #b81414;
}
a:active {
}

/*
 * Шапка
 */
.page-header {
  padding: 0.4em 1em;
  background-color: #fff;
}
.title>h1 {
  color: #333;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0.2em 0;
}
.slogan {
  color: #888;
  font-size: 0.875em;
  margin: 0;
}

/*
 * Hero-изображение
 */
.hero {
  padding: 2em 1em;
  text-align: center;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.3em #000;
  background-image: url(img/coffee_hero.jpg);
  background-size: 100%;
}

/*
 * Основной раздел
 */
main {
  padding: 1em;
}
.subtitle {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/*
 * Меню
 */
.menu {
  position: relative;
}

.menu-toggle {
  position: absolute;
  top: -1em;
  right: 0.1em;
  border: 0;
  background-color: transparent;
  font-size: 3em;
  width: 1.2em;
  height: 0.8em;
  line-height: 0.4;
  text-indent: 1em;
  white-space: nowrap;
  overflow: hidden;
}
.menu-toggle::after {
  position: absolute;
  display: block;
  content: '\2261';
  text-indent: 0;
  top: 0.2em;
  left: 0.2em;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
}
.menu.is-open .menu-dropdown {
  display: block;
}

.nav-menu {
  margin: 0;
  padding-left: 0;
  border: 1px solid #ccc;
  list-style: none;
  background-color: #000;
  color: #fff;
}
.nav-menu>li+li {
  border-top: 1px solid #ccc;
}
.nav-menu>li>a {
  display: block;
  padding: 0.8em 1em;
  color: #fff;
  font-weight: normal;
}

